---
layout: default
title: Home
---
<div class="page-title">
Latest Articles
</div>
{% assign page = site.posts | first %}
<div class="page-date">
  <a href="{{ site.baseurl }}{{ page.url }}">{{ page.date | date:"%Y/%m/%d" }}</a>
</div>
{% for article in page.articles %}
<div id="A{{ forloop.index }}" class="article">
  <div class="article-title">
    <a href="{{ article.link }}" target="_blank">{{ article.title }}</a>
  </div>
  {% if article.comment %}
    <div class="article-comment">
      {{ article.comment }}
    </div>
  {% endif %}
</div>
{% endfor %}
