<nav>
  <header class="wrapper">
    <div class="head">
      <a href="{{ site.baseurl }}/">Crisp Programming Weekly</a>
    </div>
    <div class="menu">
      <div class="menu-item {% if page.title == "Archive" %}{{ "menu-active" }}{% endif %}">
        <a href="{{ site.baseurl }}/archive/">Archive</a>
      </div>
      <div class="menu-item">
        <a href="{{ site.baseurl }}/feed.xml" target="_blank">Subscribe</a>
      </div>
      <div class="menu-item {% if page.title == "About" %}{{ "menu-active" }}{% endif %}">
        <a href="{{ site.baseurl }}/about/">About</a>
      </div>
    </div>
  </header>
</nav>
