.article {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding: 1rem;
  background-color: #f7f8fa;
  box-shadow: 0 .1rem .4rem 0 #ddd;
  hyphens: auto;
  
  &:hover{
    box-shadow:0 .1rem .4rem .1rem #ddd;
  }

  a {
    color: #333;

    &:hover {
      text-decoration: underline;
    }
  }
}
.article-item {
}
.article-share {
  display: none;
}
.article-title {
  font-size: 1.0rem;
  color: #757980;
  font-weight: bold;
  margin-bottom: .4rem;

  &:hover {
    .article-share {
      display: inline-block;
    }
  }
}
.article-comment {
  font-size: .9rem;
}
